*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(images/bg.svg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 80px 0 0 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: gold;
    font-size: 30px;
    font-weight: 800;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #dcdde2;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color: #ffb408;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    display: flex;
}
.header-txt{
    width: 50%;
    margin-bottom: 100px;
}
.header-txt h1{
    font-size: 90px;
    color: #ffb408;
    line-height: 85px;
    margin-bottom: 10px;
    margin-right: 280px;
    
}
.header-txt span{
    font-size: 90px;
    margin-right: 280px;
}
.header-txt p{
    font-size: 16px;
    color: #c4c4c4ce;
    margin-bottom: 15px;
    text-align: justify;
}
.header-img{
    width: 30%;
    text-align: center;
}
.header-img img{
    width: 300px;
}
.btn-1{
    display: inline-block;
    padding: 13px 20px;
    color: #ffb408;
    border: 1px solid #ffb408;
    border-radius: 15px;
    margin-right: 30px;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 100px;
}
.btn-1:hover{
    color: #dcdde2;
    background-color: #ffb408;  
}
.menu-pl{
    padding: 0 0 100px 0;
}
h2{
    font-size: 50px;
    color: #292923;
    margin-bottom: 40px;
}
span{
    color: #ffb408;
}
.general-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35px;
}
.general-txt{
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(0,0,0,0.2);
    padding-bottom: 35px;
}
.general-txt img{
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 250px;
}

.general-txt h3{
    font-size: 18px;
    color: #292923;
    padding: 25px 25px 10px 25px;
    text-align: center;

}
.general-txt p{
    font-size: 16px;
    color: #292923;
    padding: 0 25px 20px 25px;
    text-align: center;
}
.precio{
    padding: 0 25px 10px 25px;
    display: flex;
    justify-content: space-between;
}
.precio{
    color: #ffb408;
    font-size: 18px;
    font-weight: 600;
}
.btn-2{
    display: inline-block;
    background-color: #ffb408;
    font-size: 14px;
    padding: 7px 15px;
    color: #dcdde2;
    border-radius: 10px;
}
.acercade{
    padding: 100px 0;
    margin-bottom: 100px;
    background-color: #292933;
}
.acercade-txt{
    width: 50%;
}
.acercade-content{
    display: flex;
}
.acercade-txt h2{
    color: #fbfcff;
}
.acercade-txt p{
    color: #c4c4c4ce;
    font-size: 16px;
    margin-bottom: 40px;
    
}
.hambuger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80px;
}
.hambuger span{
    font-size: 80px;
    font-weight: 800;
}
.acercade.img{
    width: 50%;
    text-align: right;
}
.footer{
    background-color: #292933;
    padding: 50px 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    color: #ffb408;
    text-transform: uppercase;
}
.link a{
    color: aqua;
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
}
.link a:hover{
    color: #fbfcff;
}

.mingazz{
    color: #ffb408;
    margin: 10px;
    height: 900px;
    width: 1200px;
}
.zx{
    color: antiquewhite;
}

.pantalla{
    height: 500px;
    width: 550px;
    background-color: rgba(250, 242, 215, 0.76);
    position: absolute;
    margin-left: 20px;
}
.pantalla p{
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;

}
.pantalla h2{
    font-size: 18px;
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 0px;
}
.lapp h1{
    font-size: 18px;
    display: inline-block;
    margin-left: 147px;
    margin-top: 0px;
    
}
.otros h1{
    font-size: 18px;
    display: inline-block;
    margin-left: 157px;
}
.otros h2{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.otros a{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 50px;

}
.otros h4{
    font-size: 20px;
    margin-left: 0px;
    margin-top: 20px;
}
.otros img{
   
    height: 50px;
    width: 50px;
    margin-top: 20px;
}
.contactanos{
    height: 500px;
    width: 790px;
    background-color: rgba(250, 242, 215, 0.76);
    position: absolute;
    margin-left: 570px;
    
}
.immesas img{
    
    width: 1350px;
    height: 700px; 
    
}
.immesas h2 img{
    width: 300px;
    height: 150px;
    position: absolute;
    left: 200px;
    top: 700px;
}
.contactanos p{
    font-size: 20px;
    margin-top: 20px;

}
.contactanos h1{
    font-size: 30px;
}

.zzz h2{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0px;
}
.apell h2{
    display: inline-block;
    margin-left: 16px;
    margin-bottom: 0px;
}
.mail h2{
    display: inline-block;
    margin-left: 27px;
    margin-bottom: 0px;
}
.title h2{
    display: inline-block;
    margin-left: 31px;
    margin-bottom: 0px;
}
.mensaje h2{
    display: inline-block;
    margin-left: 18px;

}
.but input{
    height: 30px;
    width: 50px;
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 90px;
    background-color: greenyellow;
    border-radius: 10px;
}
.content{
    height: 900px;
    width: 1500px;
    background-color: #ffb50867;
    
}
.content p{
    font-size: 30px;
    color: white;
    text-align: center;
}
.dos{
    height: 300px;
    width: 560px;
    background-color: #0602139f;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 1px;
    position: absolute;
    border-radius: 20px;
    
   
}
.domi{
    height: 30px;
    width: 560px;
    background-color: #ffb408;
    border-radius: 7px;
}
.domi p{
    text-align: center;
    font-size: 25px;
    color: #292923;
}
.dos img{
    height: 200px;
    width: 200px;
    position: absolute;
}
.domlist{
    color: #fbfcff;
    margin-left: 230px;
    margin-top: 30px;
}


.dos h1{
    font-size: 20px;
    color: white;
    margin-left: 200px;
    margin-top: 50px;
    display: inline-block;
}
.dos h3{
    font-size: 20px;
    color: white;
    margin-left: 200px;
    position: absolute;
    margin-top: 5px;
}
.dos h4{
    font-size: 20px;
    color: whitesmoke;
    margin-left: 200px;
    display: inline-block;
    margin-top: 30px;

}

.dos h5{
    display: inline-block;
    margin-left: 62px;
    margin-top: 2px;
}
.dcol{
    margin-left: 327px;
    margin-top: 7px;
    position: absolute;
}

.nombrec h1{
    margin-left: 40px;
}
.dos h6{
    display: inline-block;
    margin-left: 80px;
}
.mibt{
    color: #fbfcff;
    margin-top: 120px;
    margin-left: 465px;
    
    
}
.tres{

    height: 300px;
    width: 560px;
    background-color: #0602139f;
    margin-left: 670px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block; 
    border-radius: 20px;
    position: absolute;
}

.pagos{
    
    display: inline;
    color: #fbfcff;
    margin-left: 10px;
    font-size: 20px;
    
    
    
    
}
.transfe{
    margin-left: 38px;
}
.mesas h1{
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 0px;

}

.pagos h2{
    color: #fbfcff;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 40px;
    display: inline-block;
    
}
.pagg{
    color: #fbfcff;
    margin-left: 40px;
    font-size: 20px;
    
}
.paggs select{
    margin-left: 40px;
    position: absolute;
}

.pagos h3{
    margin-left: 35px;
    margin-top: 30px;
}
.pagos h4{
    position: absolute;
    margin-left: 100px;
    
}
.peds p{
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    position: absolute;
    margin-top: 1px;
    margin-left: 200px;
}
.cpds {
    height: 30px;
    width: 560px;
    background-color: #ffb408;
    border-radius: 7px;

}
.cpds p{
    color: #292933;
    font-size: 27px;
}
.listad{
    margin-left: 40px;
    margin-bottom: 10px;
}
.listad p{
    color: #fbfcff;
    display: inline-block;
    font-size: 20px;
    
}
.listad h2{
    margin-left: 30px;
    font-size: 20px;
    color: #fbfcff;
}
.cuatro{
    height: 400px;
    width: 600px;
    background-color: #0602139f;
    display: block;
    margin-top: 390px;
    margin-left: 400px;
    position: absolute;
    border-radius: 20px;
}
.resv{
    height: 30px;
    width: 600px;
    background-color: #ffb408;
    border-radius: 7px;
    color: #292923;
}

.prec{
    font-size: 20px;
    color: white;
    margin-top: 50px;
    margin-bottom: 0px;
    position: absolute;
    margin-left: 20px;
    
}
.prec h2{
    display: inline-block;
    margin-top: 0px;
    margin-left: 125px;
    margin-bottom: 0px;
}
.pag{
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
    position: absolute;
    margin-top: 11px;
    margin-left: 20px;
}
.pag h2{
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 66px;
    margin-left: 45px;
}
.tres h5{
    font-size: 20px;
    color: white;
    display: inline-block;
    position: absolute;
    margin-top: 190px;
    margin-left: 20px;
}
.tres h6{
    display: inline-block;
    position: absolute;
    margin-top: 190px;
    margin-left: 201px;
}
.cuatro p{
    color: whitesmoke;
    font-size: 25px;
}
.cuatro img{
    height: 210px;
    width: 220px;
    margin-top: 50px;
    margin-left: 10px;
    display: inline-block;
    position: absolute;
}

.mesas{
    margin-left: 260px;
    color: #fbfcff;
    margin-bottom: 0px;
    margin-top: 50px;
}
.cuerpo img{
    position: absolute;
   height: 900px;
   width: 1500px;
}
.jugos{
    background-color: #ffb50844;
    width: 430px;
    height: 1100px;
    margin-left: 20px;
    border-radius: 5px;
   position: absolute;
    margin-top: 0px;
}
.tam img{
    height: 90px;
    width: 100px;
    
    
    display: block;
    border-radius: 9px;
}

.tam{
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
   
    box-shadow: 0px 5px 10px rgb(0,0,0,0.5);
}
.tam input:hover{
    background-color: #e6e621d0;
}
.tam li{
    
    text-align: center;
}
.pi単a img{
    height: 90px;
    width: 100px;
    
}
.pi単a li{
    text-align: center;
    background-color: #c4d6268c;
}
.pi単a input:hover{
    background-color: #ff0890da;
}
.pi単a{
display: inline-block;
margin-left: 16px;
margin-top: 30px;
box-shadow: 0px 5px 10px rgb(0,0,0,0.5);
}
.fresas img{
    height: 90px;
    width: 100px;
    border-radius: 9px;
}
.fresas{
    margin-left: 20px;
    display: inline-block;
    margin-top: 30px;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.5);
}
.fresas li{
    text-align: center;
    background-color: #f1e4278c;
}
.fresas input:hover{
    background-color: #ff3908ce;
}





.subt p{
    text-align: center;
    font-size: 25px;
}
.subt{
    background-color: #f71a1ac2;
    height: 30px;
    border-radius: 5px;
}
.jverdes{
    background-color: #25ff083d;
    width: 430px;
    height: 1100px;
    margin-left: 470px;
    position: absolute;
    border-radius: 5px;
   margin-top: 0px;

    
}
.tjv p{
    font-size: 25px;
    text-align: center;
    
}
.tjv{
    background-color: #a3dd1ce1;
    height: 30px;
    width: auto;
    border-radius: 9px;
}
.kw img{
    height: 90px;
    width: 100px;
}
.kw input:hover{
    background-color: #faf623d8;
}
.kw{
    margin-left: 15px;
    margin-top: 33px;
    display: inline-block;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.5);
    
}
.kw li{
    background-color: #3ef11294;
    text-align: center;
}


 .afresca{
    background-color: #ffb50862;
    width: 430px;
    height: 1000px;
    margin-left: 470px;
    margin-top: 2300px;
    position: absolute;
    border-radius: 5px;
 }
 .kw h1{
    font-size: 17px;
 } 
 .kw img{
    border-radius: 6px;
 } 
.btradicion{
    height: 1100px;
    width: 440px;
    background-color: #ffb50862;
    margin-left: 20px;
    position: absolute;
    margin-left: 920px;
    margin-top: 0px;
    border-radius: 5px;
    
}
.btradicion p{
    text-align: center;
    font-size: 25px;
}
.cervez{
    background-color: #11110248;
    height: 600px;
    width: 1400px;
    margin-top: 2400px;
    margin-left: 10px;
    position: absolute;
    
}

.cervez p{
    text-align: center;
    text-shadow: 4px 4px 10px;
    font-size: 40px;
    margin-bottom: 50px;
    background-color: #292933c5;
    border-radius: 9px;
    color: #fffffefb;
    letter-spacing: 13px;
}
.imgs img{
    height: 100px;
    width: 100px;
    
    border-radius: 9px;
   
    
}
.imgs{
    
    display: inline-block;
    margin-top: 80px;
   margin-left: 60px;
   border-radius: 9px;
   box-shadow: 3px 4px 2px;
   
   
}
.imgs li{
    text-align: center;
    background-color: #201b02b4;
    font-size: 16px;
    color: rgb(175, 166, 166);
    
    
}
.imgs input:hover{
    background-color: #f03818dc;
}
.fin {
    height: 600px;
    width: 1400px;
    position: absolute;
    margin-top: 2400px;
}
.fin img{
    height: 600px;
    width: 1400px;
}
.vino{
    height: 1230px;
    width: 1300px;
    background-color: #1013051e;
    margin-top: 1000px;
    position: absolute;
    

}
.imvino input:hover{
    background-color: #ecf01bb7;
}
.imvinos2{
    height: 150px;
    width: 100px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 30px;
    box-shadow: 3px 3px 3px;
}
.imvinos2 li{
    text-align: center;
    background-color: #ffffff;
}
.imvinos2 img{
    height: 90px;
    width: 90px;
    border-radius: 9px;
}
.vino p{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    height: 50px;
    width: auto;
    background-color: #ee1414d7;
}
.vivi{
    height: 700px;
    width: 1000px;
    position: absolute;
    margin-top: 4030px;
    
}
.vivi img{
    height: 1200px;
    width: 1350px;
    position: absolute;
}
.imvino img{
    height: 100px;
    width: 100px;
    border-radius: 9px;
}
.imvino{
    display: inline-block;
    margin-left: 30px;
    margin-top: 100px;
    box-shadow: 3px 2px 5px;
}
.vnn h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    height: 50px;
    width: auto;
    background-color: #ee1414d7;
}
.imvino li{
    background-color: #3d3a39a8;
    text-align: center;
    color: white;
}

.imfond img{
    height: 1000px;
    width: 1350px;
    position: absolute;
}
.vvida img{
 
 height: 1300px;
 width: 1350px;
 
}
.mezcal{
    height: 600px;
    width: 1360px;
    margin-top: 750px;
    background-color: #29293370;
}
.imvinos2 input:hover{
    background-color: #e74413bb;
}
.mezcal p{
    font-size: 40px;
    color: #ffffff;
    background-color: #1c058d;
}